
body{
    background-image: url(../photo/Decktop-bg.jpg);
    width: 100%;
}

h1{
    color: white;
}

h2{
    margin-top: 10%;
    margin-left: 60%;
    color: white;
    font-size: 100px;
    font-family: 'Fredericka the Great', cursive;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
