<!-- src/POLES/TestBundle/Ressources/views/Default/hola.html.twig -->

{# <h1><mark>HOLA <?= $prenom ?> !</mark></h1>  #}
<h1><mark>HOLA {{ prenom }} !</mark></h1> 
{# en twig, les variables se déclare avec une double accolade {{}} #}
<!-- Test : localhost:8000/hola/yannis -->
