{% extends 'layout.html.twig' %}


{% block title %}Mon Portfolio - Accueil{% endblock %}

{% block content %}
    <div class="col-xl-12">
        <h2>Bienvenue sur mon Portfolio<h2> 
    </div> 
{% endblock %}
