{% extends 'layout.html.twig' %}


{% block title %}Boutique - Membre{% endblock %}

{% block content %}

    <h1 class="display-4 text-center">{{ title }}</h1><hr><br>

    {% if photo is defined %}
    <img src="{{asset('photo/' ~ photo )}}" height="150"/>
    {% endif %}

    {{ form(produitForm) }}

{% endblock %}