{% extends 'layout.html.twig' %}


{% block title %}Boutique - Produit{% endblock %}

{% block content %}
    <h1 class="display-4 text-center">je suis dans la page qui liste les produits</h1><hr><br>
{% endblock %}
