{% extends 'layout.html.twig' %}


{% block title %}Boutique - Membre{% endblock %}

{% block content %}
    <h1 class="display-4 text-center">je suis dans la liste des membres</h1><hr><br>
{% endblock %}