{% extends 'layout.html.twig' %}


{% block title %}Boutique - Profil - Membre{% endblock %}

{% block content %}
<h1 class="display-4 text-center">{{ title }}&nbsp &nbsp &nbsp</h1>

{{ form(membreForm) }}

{% endblock %}