{% extends 'layout.html.twig' %}


{% block title %}Boutique - Profil - Membre{% endblock %}

{% block content %}
<h1 class="display-4 text-center">Je suis sur la page profil des membres</h1>
{% endblock %}